.form {
  margin-bottom: 25px;
}

.input {
  width: 250px;
  height: 30px;
}

.submit {
  height: 30px;
  padding: 0 15px;
  border: none;
  background-color: #cccccc;
  cursor: pointer;

  &:hover {
    background-color: #aaaaaa;
  }
}
