.item {
  display: flex;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}

.img {
  margin-right: 15px;
}

.imgNotFound {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100px;
  height: 150px;
  margin-right: 15px;
  background-color: #dddddd;
}
